node_modules/
docs/
coverage/
package-lock.json
yarn.lock

/attacks.js
/board.js
/chess.js
/compat.js
/variant.js
/transform.js
/setup.js
/squareSet.js
/types.js
/util.js
/debug.js
/fen.js
/san.js
/hash.js
/index.js

/attacks.d.ts
/board.d.ts
/chess.d.ts
/compat.d.ts
/variant.d.ts
/transform.d.ts
/setup.d.ts
/squareSet.d.ts
/types.d.ts
/util.d.ts
/debug.d.ts
/fen.d.ts
/san.d.ts
/hash.d.ts
/index.d.ts

/attacks.js.map
/board.js.map
/chess.js.map
/compat.js.map
/variant.js.map
/transform.js.map
/setup.js.map
/squareSet.js.map
/types.js.map
/util.js.map
/debug.js.map
/fen.js.map
/san.js.map
/hash.js.map
/index.js.map
